[submodule "themes/bootstrap-bp-hugo-startpage"]
	path = themes/bootstrap-bp-hugo-startpage
	url = https://github.com/spech66/bootstrap-bp-hugo-startpage.git
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
